<%- include('../partials/header') %>
<section></section>
    <div>Name: </div>
    <div>
      <%= products.name %>
    </div>
    <div>Price: </div>
    <div>
      <%= products.price %>
    </div>
    <div>Category: </div>
    <div>
      <%= products.category %>
    </div>
    <form action="<%= products._id %>?_method=DELETE" method="POST">
        <button type="submit">Remove Product</button>
    </form>
</section>
<%- include('../partials/footer') %>