<%- include('../partials/header') %>
<section></section>
    <div>Name: </div>
    <div>
      <%= product.name %>
    </div>
    <div>Price: </div>
    <div>
      <%= product.price %>
    </div>
    <div>Category: </div>
    <div>
      <%= product.category %>
    </div>
    <form action="<%= product._id %>?_method=DELETE" method="POST">
        <button type="submit">Remove Product</button>
    </form>
    <form action="<%= product._id %>/edit" method="GET">
        <button type="submit">Edit Product</button>
    </form>
</section>
<%- include('../partials/footer') %>